/* body{
    display:flex ;
    align-items: center;
}

.blog-post{
    /* display: flex; */
    width: 500px;
    align-items: center;
}

.blog-post .intro{
    text-align: center;
}

.post-image img{
    width: 500px;
}

.post-heads{
    text-align: center;
    align-items: center;
} */